html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: 400;
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.grid-1 {
  width: 40px;
}
.grid-2 {
  width: 100px;
}
.grid-3 {
  width: 160px;
}
.grid-4 {
  width: 220px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-7 {
  width: 400px;
}
.grid-8 {
  width: 460px;
}
.grid-9 {
  width: 520px;
}
.grid-10 {
  width: 580px;
}
.grid-11 {
  width: 640px;
}
.grid-12 {
  width: 700px;
}
.grid-13 {
  width: 760px;
}
.grid-14 {
  width: 820px;
}
.grid-15 {
  width: 880px;
}
.grid-16 {
  width: 940px;
}
.grid-1-3 {
  width: 300px;
}
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .container {
    width: 768px;
  }
  .grid-1 {
    width: 28px;
  }
  .grid-2 {
    width: 76px;
  }
  .grid-3 {
    width: 124px;
  }
  .grid-4 {
    width: 172px;
  }
  .grid-5 {
    width: 220px;
  }
  .grid-6 {
    width: 268px;
  }
  .grid-7 {
    width: 316px;
  }
  .grid-8 {
    width: 364px;
  }
  .grid-9 {
    width: 412px;
  }
  .grid-10 {
    width: 460px;
  }
  .grid-11 {
    width: 508px;
  }
  .grid-12 {
    width: 556px;
  }
  .grid-13 {
    width: 604px;
  }
  .grid-14 {
    width: 652px;
  }
  .grid-15 {
    width: 700px;
  }
  .grid-16 {
    width: 748px;
  }
  .grid-1-3 {
    width: 236px;
  }
}
@media only screen and (max-width: 787px) {
  .container {
    width: 300px;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16,
  .grid-1-3 {
    width: 300px;
    margin: 0 0 20px;
    float: none;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.875em;
  line-height: 1.25em;
}
.btn {
  border: 0.25em solid #fec63e;
  padding: 0.625em 1.875em;
  color: #fec63e;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
img {
  display: block;
  max-width: 100%;
}
.btn:hover {
  color: #fff;
  border-color: #fff;
  transition: 5ms;
}
.btn.btn-fundo-branco:hover {
  color: #000;
  border-color: #000;
  transition: 5ms;
}
.subtitulo {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.875em;
  letter-spacing: 0.1em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.subtitulo:after {
  content: "";
  display: block;
  width: 3.75em;
  height: 0.2em;
  background: #000;
  margin: 0.625em auto;
}
.subtitulo-interno {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.875em;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitulo-interno:after {
  content: "";
  display: block;
  width: 3.75em;
  height: 0.2em;
  background: #000;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 0.9375em 0;
  z-index: 4;
}
.header-menu {
  text-align: right;
}
.header-menu ul li {
  display: inline-block;
  margin-left: 1.5625em;
  margin-top: 1.25em;
}
.header-menu ul li a {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  padding: 0.625em 0;
}
.header-menu ul li a:hover {
  color: #fff;
  transition: 5ms;
}
.header a.ativo {
  color: #fff;
}
.introducao {
  width: 100%;
  height: 23.75em;
  background: url(./img/home/bg.jpg) no-repeat center;
  margin-top: 5.75em;
  text-align: center;
  padding-top: 5em;
  background-size: cover;
}
.introducao h1 {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
.introducao-interna h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 0.625em;
}
.quote-externo {
  max-width: 20em;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 2.5em;
}
.quote-externo p {
  font-style: italic;
}
.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 3.75em;
  height: 3px;
  background: #fff;
  margin: 0.875em auto 0.625em;
}
.quote-externo cite {
  font-style: normal;
  font-weight: 700;
  font-size: 0.875em;
  letter-spacing: 0.1em;
}
.produtos {
  padding: 60px 0;
}
.produtos-lista li {
  background: #fec63e;
  text-align: center;
}
.produtos-lista li img {
  margin: 0 auto;
}
.produtos-icon {
  background: #000;
  padding: 1.25em;
}
.produtos-lista li h3 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.5625em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 1em;
}
.produtos-lista li h3:after {
  content: "";
  display: block;
  width: 3.75em;
  height: 0.18em;
  background: #000;
  margin: 0.25em auto;
}
.produtos-lista li p {
  max-width: 16.25em;
  margin: 15px auto;
  letter-spacing: 0.03em;
}
.call-to-action {
  clear: both;
  padding-top: 1.875em;
  text-align: center;
}
.call-to-action p {
  letter-spacing: 0.03em;
  margin-bottom: 1.875em;
}
.portfolio {
  width: 100%;
  background: #000;
  padding: 2.5em 0;
}
.portfolio .subtitulo {
  color: #fec63e;
}
.portfolio .subtitulo:after {
  background: #fec63e;
}
.portfolio-lista li:last-child {
  margin-top: 1.25em;
}
.portfolio .call-to-action p {
  color: #fff;
}
.qualidade {
  padding: 3.75em 0;
}
.qualidade:after {
  content: "";
  width: 39.625em;
  height: 5.1875em;
  display: block;
  background: url(./img/linhas.svg) no-repeat center;
  position: absolute;
  top: 15.6875em;
  right: 10.625em;
  z-index: -1;
}
.qualidade img {
  margin: 0 auto;
}
.lista-qualidade {
  padding-top: 3.125em;
  overflow: auto;
}
.lista-qualidade li {
  text-align: center;
  padding: 0 2.5em;
  padding-bottom: 3em;
}
.lista-qualidade li h3 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.5625em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 1em;
}
.lista-qualidade li h3:after {
  content: "";
  display: block;
  width: 3.75em;
  height: 0.18em;
  background: #000;
  margin: 0.5em auto;
}
.break {
  width: 100%;
  height: 220px;
  background: url(./img/esporte-3.png) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 70px;
}
.break .quote-externo {
  max-width: 400px;
}
.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px;
}
.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding-bottom: 15px;
}
.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px;
}
.footer-historia {
  padding-right: 120px;
}
.footer-contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer-social ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer-social ul li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 6px;
  cursor: pointer;
}
.footer-social ul li a:hover {
  border-color: #fff;
}
.copyright {
  width: 100%;
  background: #fec63e;
  padding: 20px 0;
}
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}
.js [data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.js [data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
.js [data-slide-nav] > button.active {
  background: #fec454;
}
.js [data-anime] {
  opacity: 0;
}
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0;
}
#form-sucesso {
  color: #31aa31;
  font-weight: 700;
}
#form-erro {
  color: red;
  font-weight: 700;
}
.interna_produtos {
  background: url(./img/products/products-bg.jpg) no-repeat center;
  background-size: cover;
}
.produtos-item {
  padding-top: 60px;
}
.produto-icone {
  background: #000;
  padding: 70px 0;
}
.produto-icone img {
  margin: 0 auto;
}
.produtos-item h2 {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  position: relative;
  top: -180px;
  text-align: center;
  margin-bottom: -56px;
}
.produtos-item h2:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 8px;
}
.produtos-item h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px;
}
.produto-info {
  background: #000;
}
.produto-info p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding: 30px 40px;
  height: 180px;
}
.produto-info ul li {
  background: #fec63e;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  float: left;
  width: 229px;
  height: 49px;
  text-align: center;
  padding-top: 16px;
  font-weight: 700;
}
.produto-info ul li:nth-child(1),
.produto-info ul li:nth-child(2) {
  margin-bottom: 2px;
}
.produto-info ul li:nth-child(odd) {
  margin-right: 2px;
}
.orcamento {
  background: #000;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
}
.orcamento h2 {
  color: #fec63e;
}
.orcamento h2:after {
  background: #fec63e;
}
.form {
  padding-right: 160x;
}
.form label {
  display: block;
  color: #fff;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form textarea {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  height: 120px;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 25px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form button {
  background: none;
  padding: 7px 30px;
}
.orcamento-infos {
  color: #fff;
  padding-left: 100px;
}
.orcamento-infos h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63e;
  font-weight: 700;
  line-height: 25px;
}
.orcamento-infos span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.email-orcamento {
  margin-bottom: 40px;
}
.orcamento-infos ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}
.orcamento-infos ul li:nth-child(odd) {
  background: #1d1d1d;
}
.orcamento-infos p {
  margin-top: 10px;
  margin-bottom: 8px;
}
.interna_portfolio {
  background: url(./img/portfolio/portfolio-bg.jpg) no-repeat center;
  background-size: cover;
}
.quote-cliente {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;
}
.quote-cliente p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  margin-bottom: 20px;
}
.quote-cliente cite {
  font-weight: 700;
  font-size: 18px;
  float: right;
  font-style: normal;
}
.interna_sobre {
  background: url(./img/about/about-bg.jpg) no-repeat center;
  background-size: cover;
}
.missao-sobre {
  padding-top: 60px;
}
.missao-sobre p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}
.missao-sobre ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
  font-size: 18px;
}
.foto-about {
  padding-top: 15px;
}
.qualidade-sobre img {
  margin: 0 auto;
}
.qualidade-sobre {
  padding: 3.75em 0;
}
.qualidade-sobre:after {
  content: "";
  width: 39.625em;
  height: 5.1875em;
  display: block;
  background: url(./img/linhas.svg) no-repeat center;
  position: absolute;
  top: 15.6875em;
  right: 10.625em;
  z-index: -1;
}
.interna_contato {
  background: url(./img/contact/retro-1.jpg) no-repeat center;
  background-size: cover;
}
.contato {
  padding: 40px 0;
  background: #000;
}
.contato-form {
  padding-right: 60x;
}
.contato-form label {
  display: block;
  color: #fff;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.contato-form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contato-form textarea {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  height: 120px;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 25px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contato-form button {
  background: none;
  padding: 7px 30px;
}
.contato-infos {
  color: #fff;
  padding-left: 45px;
}
.contato-infos h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63e;
  font-weight: 700;
  line-height: 25px;
}
.contato-infos span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
}
.contato-infos span:nth-of-type(2) {
  margin-bottom: 30px;
}
.contato-infos span:nth-of-type(4) {
  margin-bottom: 25px;
}
.contato-infos p {
  margin-top: 10px;
  margin-bottom: 8px;
}
.contato-infos ul {
  margin-top: 15px;
}
.contato-infos ul li {
  display: inline-block;
  margin-right: 10px;
}
.contato-infos ul li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 6px;
  cursor: pointer;
}
.contato-infos ul li a:hover {
  border-color: #fff;
}
.contato-mapa {
  margin-top: 60px;
}
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .produtos-lista li p {
    margin: 35px 20px 10px;
  }
  .qualidade:after {
    right: 72px;
  }
  .lista-qualidade li {
    padding: 0;
    margin-bottom: 40px;
  }
  .footer-social ul li a img {
    width: 24px;
    height: 24px;
  }
  .missao-sobre {
    padding-top: 20px;
  }
  .qualidade-sobre {
    padding-bottom: 0;
  }
  .qualidade-sobre:after {
    right: 72px;
  }
  .missao-sobre p {
    font-size: 15px;
  }
  .missao-sobre ul li {
    line-height: 25px;
    font-size: 15px;
  }
  .produtos-item {
    padding-top: 20px;
  }
  .produto-icone {
    background: #000;
    padding: 41px 0;
  }
  .produtos-item h2 {
    top: -150px;
  }
  .produto-info p {
    font-size: 15px;
    line-height: 20px;
    padding: 20px 30px;
    height: 122px;
  }
  .produto-info ul li {
    font-size: 14px;
    line-height: 10px;
    width: 181px;
  }
}
@media only screen and (max-width: 787px) {
  .header {
    position: relative;
    padding: 7px 0 0;
  }
  .header img {
    margin: 0 auto 20px;
  }
  .header-menu {
    text-align: center;
  }
  .header-menu ul li {
    margin: 0;
  }
  .header-menu ul li a {
    border: 4px solid #000;
    width: 180px;
    display: block;
    padding: 8px 0;
    margin-bottom: 10px;
  }
  .header-menu ul li a:hover {
    border-color: #fff;
  }
  .header a.ativo {
    border-color: #fff;
  }
  .introducao {
    margin-top: 0;
    padding-top: 20px;
    background: url(./img/home/bg-mobile.jpg) no-repeat center;
  }
  .introducao h1 {
    padding-top: 60px;
    font-size: 40px;
  }
  .produtos {
    padding-top: 20px;
  }
  .produtos-lista li p {
    margin: 15px auto;
    padding-bottom: 10px;
  }
  .call-to-action {
    margin: 0 auto;
    padding-top: 15px;
  }
  .portfolio {
    padding: 2em 0;
  }
  .qualidade {
    padding: 2em 0;
  }
  .qualidade:after {
    display: none;
  }
  .lista-qualidade li {
    padding-bottom: 1em;
  }
  .introducao-interna {
    margin-top: 0;
    padding-top: 30px;
  }
  .missao-sobre {
    padding-top: 20px;
  }
  .missao-sobre p {
    padding-right: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .missao-sobre ul li {
    padding-right: 0;
    font-size: 14px;
    line-height: 25px;
  }
  .qualidade-sobre {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .qualidade-sobre:after {
    display: none;
  }
  .produtos-item {
    padding-top: 30px;
  }
  .produtos-item h2 {
    top: -90px;
    font-size: 24px;
    margin-bottom: -67px;
  }
  .produtos-item h2:before {
    width: 40px;
    height: 2px;
  }
  .produtos-item h2:after {
    width: 40px;
    height: 2px;
  }
  .produto-icone {
    padding: 0;
  }
  .produto-info p {
    font-size: 14px;
    line-height: 18px;
    height: auto;
    padding: 20px 30px;
  }
  .produto-info ul li {
    font-size: 14px;
    line-height: 10px;
    width: 149px;
  }
  .orcamento {
    margin-top: 30px;
  }
  .form {
    padding-right: 0;
    padding-bottom: 40px;
  }
  .orcamento-infos {
    padding-left: 0;
  }
  .orcamento-infos span {
    font-size: 15px;
    line-height: 20px;
  }
  .quote-cliente p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .quote-cliente cite {
    font-size: 14px;
  }
  .contato-form {
    padding-right: 0;
  }
  .contato-form input {
    padding: 6px;
  }
  .contato-form textarea {
    height: 80px;
    padding: 0;
  }
  .contato-infos {
    padding-top: 35px;
    padding-left: 0;
  }
  .contato-infos span {
    font-size: 15px;
    line-height: 20px;
  }
  .contato-mapa {
    margin-top: 20px;
  }
}
